:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
}

/* 调整弹框位置，避免被自定义标题栏遮挡 */
.el-message {
  top: 48px !important;
}

/* 确保弹框层在最上层 */
.el-message-box__wrapper {
  z-index: 3000 !important;
}
